<style mip-custom>
/*通用样式*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    margin-top: 50px;
}
ul {
    margin: 0;
    list-style: none;
}

input {
    border-radius: 0;
}

.subheader-main {
    display: inline-block;
    font-size: 25px;
    color: black;
    position: relative;
    margin-top: 25px;
}

.subheader-main:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 4px;
    position: absolute;
    background: #333;
    top: -25px;
}

.wrapper {
    width: 100%;
}

.wrapper .container {
    margin: 0 auto;
    padding-top: 100px;
}

.footer .container,
.header .container {
    padding-top: 0;
}

.news.container {
    padding-top: 50px;
}

.container.grid-960 {
    max-width: 980px;
}

.font-title {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.font-bold {
    font-weight: 500;
}

.font-descri {
    color: #999;
    font-size: 14px;
    line-height: 1.8;
    display: block;
}

.font-clamp2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.img-7 {
    width: 7rem;
    position: absolute;
}

a.hover-shadow {
    font-size: 0;
    display: block;
    position: relative;
    transition: all .2s;
    text-decoration: none
}

a.hover-shadow:hover {
    box-shadow: 0 5px 25px 4px rgba(0, 0, 0, .25);
    transform: translateY(-2px);
    transition: all 0;
}

a.hover-shadow:active {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .25);
    transform: translateY(0px);
    background: rgba(0, 0, 0, .07);
}

.minus-margin {
    margin: -1rem;
    padding: 1rem;
}

@media screen and (max-width: 840px) {
    .wise-line-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        width: 100%;
    }
    .wise-line-bottom:nth-last-child(2) {
        border-bottom: none;
    }
}



/*带有背景色的导航部分*/

.wrapper .header {
    background: url(https://open-web.bj.bcebos.com/banner.jpg) 50% 50% no-repeat #23254e;
    background-size: contain;
    color: white;
    height: 60vh;
    min-height: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.nav-wrapper a {
    color: white;
}

.header .nav-wrapper {
    height: 47px;
    position: relative;
}

mip-fixed {
    z-index: 1!important;
    margin: 0 auto;
    background-color: #23254e;
    padding: 12px 0;
}

mip-fixed a {
    opacity: 0.8;
}

mip-fixed a:hover {
    opacity: 1;
    text-decoration: none;
}

.nav-fixed {
    position: relative;
    top: 2px;
    align-items: center;
}

.logo {
    width: 86px;
    position: relative;
    display: inline-block;
    top: -2px;
}

.logo-title {
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    top: -4px;
    flex-grow: 0;
}

.logo-title:before {
    content: '';
    position: absolute;
    background: white;
    width: 1px;
    height: 14px;
    left: -10px;
    top: 4px;
}

.header .middle {
    display: inline-block;
    float: right;
    margin: 22px 0 0 0;
}

.nav-lists {
    flex-grow: 2;
    display: inline-block;
    position: absolute;
    right: 10px;
}

.nav-lists li {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
}

.nav-lists li:last-child {
    display: inline-block;
    margin-right: 0;
}

.nav-search {
    display: inline-block;
    width: 177px;
}

.nav-search-list {
	order: 1;
}

.search-icon {
    position: absolute;
    right: 2px;
    top: 0;
    width: 30px;
    height: 30px;
}

.search-icon:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    left: 7px;
    top: 7px;
    border: 2px solid white;
    border-radius: 30px;
}

.search-icon:after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 2px;
    top: 19px;
    left: 16px;
    background: white;
    border-radius: 12px;
    transform: rotate(225deg);
}

#search-lightbox {
    bottom: 0;
}

.form-input {
    border-radius: 15px;
    width: 240px;
    height: 30px;
    background: #383a5f;
    border: none;
    color: white;
}

.header-btn {
    display: none;
    outline: none;
    background: none;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 2px;
}

.header-btn .icon-bar {
    display: block;
    background: #fff;
    width: 25px;
    height: 1px;
    margin-bottom: 8px;
}


mip-sidebar li {
    margin: 0;
    text-align: center;
}

mip-sidebar a {
    padding: 15px;
    display: block;
}

mip-sidebar {
    width: 70%;
    max-width: 300px;
    padding: 20px;
}

mip-sidebar .nav-search {
    width: 100%;
    right: auto;
    position: relative;
}

mip-sidebar input[type='text'] {
    height: 40px;
    margin: 10px 0;
    color: #2e3154;
    background-color: rgba(46, 49, 84, .25);
}

mip-sidebar input:-webkit-input-placeholder,
mip-sidebar input:-ms-input-placeholder,
mip-sidebar input:-o-input-placeholder,
mip-sidebar input:input-placeholder {
    color: white;
    opacity: .5;
}

mip-sidebar .form-input {
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border-radius: 20px;
    background: #a4a4a4;
    padding: 5px 20px;
    font-size: 16px;
}

mip-sidebar .search-icon {
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
}

mip-sidebar .search-icon:before {
    top: 13px;
    left: 13px;
}

mip-sidebar .search-icon:after {
    top: 25px;
    left: 23px;
}

@media screen and (max-width: 840px) {

    .nav-lists,
    .nav-search {
        display: none
    }
    .nav-lists-h5 {
    	display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
    }
    .nav-search-list {
		order: -1;
        width: 100%;
	}
    .header-btn {
        display: block;
    }
    .wise-line-bottom a {
        color: #2e3154;
        text-decoration: none;
        font-size: 16px;
    }
    .wrapper .nav-wrapper a:active {
        background-color: rgba(46, 49, 84, .1);
    }
    mip-sidebar .nav-search {
        display: block;
    }
    .wrapper .header {
        height: 100vh;
        background-size: 160%;
    }
}

@media screen and (max-width: 840px) and (orientation: landscape) {
    .wrapper .header {
        height: 140vh;
        background-position: 50% 0%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper .header {
        background-position: 50% 20%;
    }
}

.container.grid-580 {
	max-width: 580px;
}

/*大banner样式 */

.summary-content {
    width: 100%;
    text-align: center;
}

.summary-title {
    font-size: 6rem;
    margin-bottom: 20px;
}

.summary-para {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 2.5rem;
    letter-spacing: 10px;
    font-weight: 100;
}

.header .header-summary-btn {
    width: 170px;
    height: 50px;
    background-color: white;
    margin: 40px auto 0;
    color: #2e3154;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.header .header-summary-btn:active {
    background: rgba(255, 255, 255, .8);
}

.header .header-links {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.header .header-links ul li {
    margin-top: 0;
}

.header-btn-arrow {
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #2e3154;
    margin-left: 15px;
    top: -6px;
    position: relative;
}

.header-btn-arrow:before,
.header-btn-arrow:after {
    width: 10px;
    content: '';
    height: 2px;
    background: #2e3154;
    position: absolute;
    left: 11px;
}

.header-btn-arrow:before {
    -webkit-transform: rotate(45deg);
    top: -3px;
}

.header-btn-arrow:after {
    -webkit-transform: rotate(-45deg);
    top: 3px;
}

@media screen and (max-width: 840px) {
    .summary-title {
        /*font-size: 5rem;*/
    }
}

@media screen and (max-width: 600px) {
    .summary-title {
        font-size: 4rem;
    }
    .summary-para {
        letter-spacing: 3px;
        font-size: 2rem;
    }
}


/*知识推荐*/

.header-links .recommend-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 17px;
    opacity: 0.5;
}

.header-links .font-title {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.8);
}

.header-links .font-descri {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
}

.recommend {
    margin-left: 50px;
}


/*行业新闻*/

.news-list {
    margin-top: 25px;
}

.new-list-img {
    margin-top: 10px;
}

.new-list-img:first-of-type {
    margin-top: 30px;
}

.news-date {
    font-size: 12px;
    color: #999;
}


/*web 方案*/

.web-plan .web-plan-title {
    text-align: center;
    position: relative;
    border: 1px solid #a9a9a9;
    border-top: none;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.web-plan .font-descri {
    margin-top: 25px;
}

.web-plan .web-plan-news div {
    color: #999;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.web-plan span {
    margin-left: 26px;
}

.web-plan span:after {
    width: 7px;
    content: '';
    height: 1px;
    position: absolute;
    border: 1px solid black;
    -webkit-transform: rotate(-41deg);
    top: 23px;
    border-radius: 1px;
}

.web-plan span:before {
    width: 7px;
    content: '';
    height: 1px;
    position: absolute;
    border: 1px solid black;
    transform: rotate;
    -webkit-transform: rotate(38deg);
    top: 19px;
    border-radius: 1px;
}

.web-plan .web-plan-border {
    border: 1px solid rgba(173, 173, 173, 1);
}

.web-plan .web-plan-border:hover {
    box-shadow: 4px 5px 5px #888;
    transform: translate(0, -1px);
}


/*web 工具*/

.web-tools.container {
    margin-bottom: 100px
}

.web-tools .img-right {
    margin-left: 8.5rem;
    display: inline-block;
}

.web-tools .font-title {
    font-size: 24px;
    margin-top: -8px;
}

.web-tools .font-descri {
    margin: 0;
    margin-top: 10px;
}


/*footer*/

.footer {
    width: 100%;
    color: #999;
    background: #1d1e28;
    padding: 70px 0 100px;
}

.footer-wrapper .font-title {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 14px;
    font-size: 14px;
}

.footer-wrapper .font-descri {
    display: block;
    color: rgba(255, 255, 255, .4);
    padding: 8px 0;
}

.footer-wrapper a:hover {
    color: #aaa;
    text-decoration: none;
}


/*搜索弹出层*/

#search-lightbox {
    max-width: 700px;
    background: #fff;
    margin: 20px auto;
    color: #333;
    padding: 20px;
}

@media screen and (max-width: 720px) {
    #search-lightbox {
        margin: 10px;
    }
}

.lightbox-close {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255,255,255,0.7);
}

.lightbox-close:before,
.lightbox-close:after {
    content: '';
    width: 2px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background: #d4d4d4;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 4px;
    left: 20px;
}

.lightbox-close:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.lightbox a {
    color: #333 !important;
    display: block;
    border-bottom: 1px solid #ddd;
}
.lightbox a:nth-last-child {
	border-bottom: none;
}

.lightbox a:hover {
    text-decoration: none;
}

#search-results {
    color: #666;
}

.update-ie {
    position:fixed;
    z-index:2000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#fff;
    font-size:20px;
    text-align:center;
}
.update-ie p {
    padding-top:30px;
}
.update-ie a{
    color:#009aed
}
</style>